#breadcrumb-section ul {
    padding: 0 !important;
}

#breadcrumb-section .mybreadcrumb {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f6f6f6;
}

#breadcrumb-section ol {
    margin: 0 !important;
    padding: 0 !important;
}

#breadcrumb-section .mybreadcrumb i {
    color: black;
}

.breadcrumb-item {
    color: var(--sec-color) !important;
    font-size: 0.9rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #bbb !important;
}

#websites-section h3 {
    color: var(--pri-color) !important;
    font-size: 2rem !important;
    font-weight: bold;
}

#websites-section .line {
    height: 3px;
    width: 100%;
    background-color: var(--sec-color);
}

#websites-section a {
    text-decoration: none;
    color: var(--sec-color);
}