#breadcrumb-section ul {
    padding: 0 !important;
}

#breadcrumb-section .mybreadcrumb {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f6f6f6;
}

#breadcrumb-section ol {
    margin: 0 !important;
    padding: 0 !important;
}

#breadcrumb-section .mybreadcrumb i {
    color: black;
}

.breadcrumb-item {
    color: var(--sec-color) !important;
    font-size: 0.9rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #bbb !important;
}

.split-line {
    height: 1px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}